@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Zen Maru Gothic', sans-serif;
  background-color: #fdfbf7;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}